.game {
	margin: 0;
	height: 100%;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game > div {
	max-width: 880px;
	display: flex;
	width: 100%;
	padding: 0 24px;
	margin: 8px 0;
	box-sizing: border-box;
}

@media (max-width: 408px) {
	.game > div {
		padding: 0 8px;
	}
}

.game .country {
	flex: none;
}

.game .country .name {
	flex: none;
	text-align: left;
	font-size: 0;
	white-space: nowrap;
}

.game .country .name img {
	display: inline-block;
	vertical-align: middle;
	height: 36px;
	padding: 4px 0;
}

.game .country .name h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 40px;
	line-height: 44px;
	margin: 0 16px;
}

.game .country .spacer {
	flex: auto;
}

.game .country .rank .ranking {
	display: block;
	font-size: 24px;
	line-height: 34px;
	font-family: "Open Sans Condensed", Arial, sans-serif;
	width: 36px;
	height: 36px;
	border: 4px solid #fff;
	border-radius: 50%;
	flex: none;
}

.game .economy {
	flex: none;
	font-size: 24px;
	font-family: "Open Sans Condensed", Arial, sans-serif;
}

.game .economy .money {
	flex: none;
	text-align: center;
}

.game .economy .money .plus {
	margin: 0 16px;
}

.game .economy .spacer {
	flex: auto;
}

.game .economy .environment {
	flex: none;
	text-align: center;
}

.game .energy .bar {
	font-size: 0;
	width: 100%;
	height: 32px;
	border-radius: 4px;
	background: #898c6e;
	overflow: hidden;
	text-align: right;
	white-space: nowrap;
}

.game .energy .bar div {
	height: 100%;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
}

.game .energy .bar div:last-child {
	direction: rtl;
}

.game .energy .bar div span {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	line-height: 32px;
	font-size: 22px;
	margin: 0 8px;
	display: inline-block;
	direction: ltr;
}

.game .energy .bar .excess {
	background: #089200;
}

.game .energy .bar .deficit {
	background: #cc2936;
}

@media (max-width: 480px) {
	.game .country .name img {
		height: 28px;
		padding: 8px 0;
	}

	.game .country .name h1 {
		font-size: 28px;
	}
	
	.game .energy .bar span {
		font-size: 18px;
	}
}

.game .resources {
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}

.game .resource {
	font-size: 0;
	display: flex;
	max-width: 408px;
	min-width: 272px;
	flex: 1 1 100%;
	margin: 16px auto;
}

.game .resource .buy {
	width: 96px;
	height: 96px;
	display: inline-block;
	border-radius: 50%;
	margin: 0 8px;
	vertical-align: top;
	position: relative;
	flex: none;
}

.game .resource .buy svg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.game .resource .buy span {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 90px;
	margin: auto;
	width: 68px;
	padding-right: 4px;
	border-radius: 0 4px 4px 0;
	height: 24px;
	line-height: 24px;
	font-size: 18px;
	text-align: right;
	color: #fff;
	font-family: "Open Sans Condensed", Arial, sans-serif;
	background: #000;
	z-index: 1;
}

.game .resource .info {
	height: 96px;
	color: #000;
	background: #fff;
	display: inline-block;
	position: relative;
	flex: auto;
	margin-right: 8px;
}

.game .resource .cutout-top {
	height: 16px;
}

.game .resource .cutout-middle {
	height: 64px;
	top: 16px;
}

.game .resource .cutout-bottom {
	height: 16px;
	top: 80px;
}

.game .resource .cutout-top,
.game .resource .cutout-middle,
.game .resource .cutout-bottom {
	width: 50px;
	left: -48px;
	position: absolute;
	overflow: hidden;
	pointer-events: none;
}

.game .resource .cutout-top::before,
.game .resource .cutout-middle::before,
.game .resource .cutout-bottom::before {
	content: "";
	display: block;
	width: 112px;
	height: 112px;
	background: transparent;
	border-radius: 50%;
	position: absolute;
	left: -100px;
}

.game .resource .cutout-top::before {
	border: 36px solid #cc2936;
	top: -44px;
}

.game .resource .cutout-middle::before {
	border: 36px solid #fff;
	top: -60px;
}

.game .resource .cutout-bottom::before {
	border: 36px solid #388697;
	top: -124px;
}

.game .resource .cutout-bottom.zero::before {
	border: 36px solid #cc2936;
}

.game .resource .info .name {
	width: 100%;
	height: 16px;
	color: #fff;
	background: #cc2936;
	position: relative;
	font-family: "Open Sans Condensed", Arial, sans-serif;
}

.game .resource .info .name > div {
	position: absolute;
	left: -10px;
	right: 0;
	top: 0;
	bottom: 0;
}

.game .resource .info .name span {
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
}

.game .resource .info .main {
	width: 100%;
	height: 64px;
	background: #fff;
	position: relative;
}

.game .resource .info .main .details {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 58px;
	right: 0;
	display: flex;
}

.game .resource .info .main .details .individual,
.game .resource .info .main .details .fleet {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	color: #000;
	flex: auto;
}

.game .resource .info .main .details .divider {
	width: 2px;
	background: #cc2936;
	flex: 0 0 2px;
}

.game .resource .info .main .details .individual {
	text-align: right;
	position: relative;
}

.game .resource .info .main .details .fleet {
	text-align: left;
}

.game .resource .info .main .details h1 {
	display: block;
	font-size: 14px;
	line-height: 16px;
	margin: 0 4px;
}

.game .resource .info .main .details .individual h1 {
	position: absolute;
	white-space: nowrap;
	right: 0;
	top: 0;
}

.game .resource .info .main .details span {
	display: block;
	font-size: 18px;
	line-height: 24px;
	margin: 0 4px;
}

.game .resource .info .main .details .individual span:first-of-type {
	margin-top: 16px;
	margin-bottom: 24px;
}

.game .resource .info .main .details .individual span:last-of-type {
	position: absolute;
	white-space: nowrap;
	right: 0;
	bottom: 0;
}

.game .resource .info .capacity {
	width: 100%;
	height: 16px;
	position: relative;
}

.game .resource .info .capacity > div {
	position: absolute;
	left: -10px;
	right: 0;
	top: 0;
	bottom: 0;
	background: #cc2936;
}

.game .resource .info .capacity > div .owned {
	position: absolute;
	background: #898c6e;
	left: 0;
	height: 100%;
	width: 50%;
}

.game .resource .info .capacity > div .owned .operational {
	position: absolute;
	background: #388697;
	height: 100%;
	left: 0;
	width: 50%;
}

.game .resource .info .capacity > div .owned span {
	font-size: 14px;
	line-height: 16px;
	text-indent: 2px;
	color: #fff;
	font-family: "Open Sans Condensed", Arial, sans-serif;
}

.game .resource .info .capacity > div .capacity {
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-family: "Open Sans Condensed", Arial, sans-serif;
	position: absolute;
	right: 2px;
	width: auto;
}

.game .resources .resource .owned input[type=range] {
	position: absolute;
	width: calc(100% + 16px);
	background: none;
	height: 24px;
	left: -8px;
	bottom: -8px;
	margin: 0;
	-webkit-appearance: none;
	outline: none;
	/*background: rgba(127, 127, 0, 0.5);*/
}

.game .resources .resource .owned input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0;
}

.game .resources .resource .owned input[type=range]::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
	background: #fff;
	border-radius: 50%;
	border: 6px solid #ebbab9;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	-webkit-appearance: none;
	margin-top: -4px;
}

/* Remember to add and test support for other browsers! */
