<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/global.css" rel="stylesheet" type="text/css">
		<link href="css/login.css" rel="stylesheet" type="text/css">
		<link href="css/game.css" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Alegreya+Sans+SC:500,400,300,300italic,400italic,500italic,700,700italic,100,100italic|Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div v-if="connection.status === 'stranger' || connection.status === 'connecting'" class="login">
			<div></div>
			<div class="title">
				<h1>Clout</h1>
				<h2>A multiplayer strategy game of <br />global economics and power</h2>
			</div>
			<div></div>
			<div class="name">
				<form @submit.prevent="login">
					<label>Welcome, world leader!</label>
					<input type="tel" maxlength="5" required v-model="connection.room" placeholder="Room Code" :disabled="connection.status === 'connecting'" v-if="!connection.creatingRoom">
					<input type="text" maxlength="25" required v-model="connection.name" placeholder="Name" :disabled="connection.status === 'connecting'">
					<input type="submit" :value="connection.creatingRoom ? 'Host' : 'Play'" :disabled="connection.status === 'connecting'">
				</form>
				<p>Or <a href="#" @click.prevent="connection.creatingRoom = !connection.creatingRoom">{{ connection.creatingRoom ? 'Join Existing Room' : 'Create New Room' }}</a></p>
			</div>
			<div></div>
		</div>
		<div v-if="connection.status === 'connected'" class="game">
			<div class="invite" v-if="connection.invitePrompt">
				<span>Have others join at clout.ga with room code {{ connection.room }}</span>
				<div @click.prevent="start"><svg viewBox="0 0 16 8" fill="#fff"><polygon points="8,0 16,8 0,8"/></svg></div>
			</div>
			<div class="country">
				<div class="name">
					<img :src="'flags/' + country.name + '.svg'">
					<h1>{{ country.name }}</h1>
				</div>
				<div class="spacer"></div>
				<div class="rank">
					<span class="ranking">#{{ country.rank }}</span>
				</div>
			</div>
			<div class="economy">
				<div class="money">
					<span class="bank">{{ country.money | formatMoney }}</span>
					<span class="plus">+</span>
					<span class="income">{{ income | formatMoney }}/yr</span>
				</div>
				<div class="spacer"></div>
				<div class="environment">
					<span class="total">{{ country.damage | formatDamage }}</span>
					<span class="plus">+</span>
					<span class="yearly">{{ yearlyDamage | formatDamage }}/yr</span>
				</div>
			</div>
			<div class="energy">
				<div class="bar">
					<div :style="'width: ' + energy.base">
						<span>{{ production }} GW met of {{ country.demand }} GW demand</span>
					</div>
					<div :style="'width: ' + energy.extra" :class="energy.direction">
						<span>{{ energy.difference > 0 ? '+' + energy.difference + ' GW' : (energy.difference < 0 ? energy.difference + ' GW' : '') }}</span>
					</div>
				</div>
			</div>
			<div class="resources">
				<div class="resource" v-for="resource in resources">
					<div class="buy" :class="{ 'disabled': resource.capacity === 0 || resource.cost > country.money }">
						<svg viewBox="0 0 1000 1000">{{{ resource.icon }}}<circle class="click" cx="500" cy="500" r="500" @click.prevent="buy($index)" /></svg>
						<span>{{ resource.cost | formatMoney }}</span>
					</div>
					<div class="info">
						<div class="cutout-top"></div>
						<div class="cutout-middle"></div>
						<div class="cutout-bottom" :class="{ 'unlimited': resource.capacity < 0, 'zero': resource.capacity === 0 }"></div>
						<div class="name">
							<div>
								<span>{{ resource.name }} (1 GW Power Stations)</span>
							</div>
						</div>
						<div class="main">
							<div class="details">
								<div class="individual">
									<h1>Per-Station Stats</h1>
									<span>{{ resource.damage | formatDamage }}/yr</span>
									<span>{{ resource.revenue | formatMoney }}/yr</span>
								</div>
								<div class="divider"></div>
								<div class="fleet">
									<h1>Fleet Stats</h1>
									<span>{{ resource.damage * resource.operating | formatDamage }}/yr</span>
									<span>{{ resource.revenue * resource.operating | formatMoney }}/yr</span>
								</div>
							</div>
						</div>
						<div class="capacity">
							<div :class="{ 'unlimited': resource.capacity < 0, 'zero': resource.capacity === 0 }">
								<div class="owned" :style="'width: ' + (resource.capacity >= 0 ? resource.owned / resource.capacity * 100 : 100) + '%'">
									<div class="operational" :style="'width: ' + 100 * resource.operating / resource.owned + '%'" v-if="resource.capacity >= 0"></div>
									<span>{{ resource.owned }}</span>
									<input type="range" min="0" :max="resource.owned" v-model="resource.operating" v-if="resource.capacity > 0 && resource.owned > 0" @change="setOperational($index)">
								</div>
								<div class="capacity" v-if="resource.capacity > 0">{{ resource.capacity }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="//cdn.jsdelivr.net/vue/1.0.24/vue.js"></script>
		<!-- <script src="//cdn.jsdelivr.net/vue/1.0.24/vue.min.js"></script> -->
		<script src="js/clout.js"></script>
	</body>
</html>
