<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="js/vue.js"></script>
		<script src="js/clout.js"></script>
		<link href="css/global.css" rel="stylesheet" type="text/css">
		<link href="css/login.css" rel="stylesheet" type="text/css">
		<link href="css/game.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500,400,300,300italic,400italic,500italic,700,700italic,100,100italic|Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div v-if="player.status === 'stranger'" class="login">
			<div></div>
			<div class="title">
				<h1>Clout</h1>
				<h2>A multiplayer strategy game of <br />global economics and power</h2>
			</div>
			<div></div>
			<div class="name">
				<form @submit.prevent="login">
					<label>Welcome, world leader!</label>
					<input type="text" maxlength="25" v-model="player.name" placeholder="What's your name?">
					<input type="submit" value="Play">
				</form>
			</div>
			<div></div>
		</div>
		<div v-if="player.status === 'connected'" class="game">
			<div class="country">
				<div class="name">
					<img src="icons/flags/us.svg">
					<h1>United States</h1>
				</div>
				<div class="spacer"></div>
				<div class="rank">
					<span class="ranking">#29</span>
				</div>
			</div>
			<div class="economy">
				<div class="money">
					<span class="bank">$16.36b</span>
					<span class="plus">+</span>
					<span class="income">693.9m/yr</span>
				</div>
				<div class="spacer"></div>
				<div class="environment">
					<span>751k</span>
				</div>
				<!-- Environmental Damage -->
				<!-- Energy Demand -->
			</div>
			<div class="resources">
				<div class="resource" v-for="item in [0, 1, 2, 3, 4, 5]">
					<a href="#" class="buy">
						<img src="icons/resources/oil.svg" />
						<span>$188.9m</span>
					</a>
					<div class="info">
						<div class="cutout-top"></div>
						<div class="cutout-middle"></div>
						<div class="cutout-bottom"></div>
						<div class="name">
							<div>
								<span>Oil (1 GW Power Stations)</span>
							</div>
						</div>
						<div class="main">
							<div class="details">
								<div class="individual">
									<h1>Per-Station Stats</h1>
									<span>137/yr</span>
									<span>$12.7m/yr</span>
								</div>
								<div class="divider"></div>
								<div class="fleet">
									<h1>Fleet Stats</h1>
									<span>6850/yr</span>
									<span>$635m/yr</span>
								</div>
							</div>
						</div>
						<div class="capacity">
							<div>
								<div class="owned">
									<span>50</span>
									<input type="range" min="0" max="50" value="50">
								</div>
								<div class="capacity">100</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
